body {
    text-align: center;
    background-color: #002B4D;
    color: #FCFCBB;
    background-image: url('stars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Comfortaa", sans-serif;
}
input {
    border-radius: 9px;
    padding: 0.5%;
    width: 15%;
    border: 5px dotted #FCFCBB;
    font-family: "Comfortaa", sans-serif;
}
h1 {
    font-weight: 700;
}
button {
     border-radius: 9px;
    padding: 0.5%;
    width: 5%;
    border: 2px dotted #FCFCBB;
    font-family: "Comfortaa", sans-serif;
}
