.topImg img {
    width: 100px;
}
body {
    text-align: center;
    font-family: comfo
    background-color: rgba();
    -webkit-box-shadow: 24px 22px 43px 5px rgba(0,0,0,0.79); 
    box-shadow: 24px 22px 43px 5px rgba(0,0,0,0.79);
}
